{% extends 'base.html' %}
{% block title %}
Register Item Carrier
{% endblock %}
{% block content %}
<div class="form">
    <div class="title text-center text-info p-3">
        <h2>Property/items Registration</h2>
    </div>
    <form action="" method="post">
        <div class="row p-2">
            <div class="col-6">
                <div class="form-group iname">
                    <input type="text" name="iname" class="form-control" placeholder="Item Name">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group type">
                     <input type="text" name="type" class="form-control" placeholder="Item Type">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6">
                <div class="form-group make">
                    <input type="text" name="make" class="form-control" placeholder="Enter item make">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group serial">
                    <input type="text" name="serial" class="form-control" placeholder="Serial Number">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6">
                <div class="form-group created_by">
                    <input type="text" name="registered_by" class="form-control" placeholder="Registered By">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group created_by">
                    <input type="text" name="create_date" class="form-control" placeholder="Create Date">
                </div>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-6">
                <div class="form-group updated_by">
                    <input type="text" name="updated_by" class="form-control" placeholder="Last updated By">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="form-group created_by">
                     <button class="btn btn-info ">Register Item</button>
                </div>
            </div>
        </div>
    </form>
</div>




{% endblock%}